<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="palinoiaEntities" connectionString="metadata=res://*/palinoiaModel.csdl|res://*/palinoiaModel.ssdl|res://*/palinoiaModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\palinoia\palinoia.s3db&quot;'" providerName="System.Data.EntityClient" />
    <add name="applicationEntities" connectionString="metadata=res://*/applicationModel.csdl|res://*/applicationModel.ssdl|res://*/applicationModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\palinoia\application.s3db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="development" value="true"/>
    <add key="WorkingDirectory" value="c:\palinoia"/>
    <add key="SessionWarning" value="115"/>
    <add key="SessionTimeout" value="120"/>
    <add key="SMTPServer" value ="smtpcorp.com"/>
    <add key="SMTPUserName" value="palinoia"/>
    <add key="SMTPPassword" value ="Build1000"/>
    <add key="SMTPPort" value="2525"/>
    <add key="MailCC" value="kholder@gmail.com"/>
    <add key="MailFrom" value="noreply@palinoia.org"/>
    <add key="MailSubject" value="Critical Component Check Failure"/>
    <add key="DocumentImagePath" value="\DocumentImages\" />
    <add key="DocumentManagerIcon" value="../../Scripts/JSTree/icons/folder-arrow-down-icon-24.png"/>
    <add key="DM_ChapterIcon" value="../../Scripts/JSTree/icons/document-write-icon-24.png"/>
    <add key="DM_ChapterCheckIcon" value="../../Scripts/JSTree/icons/document-check-icon-24.png"/>
    <add key="DM_DocumentTypeIcon" value="../../Scripts/JSTree/icons/folder-icon-24.png"/>
    <add key="DM_DocumentTypeCheckIcon" value="../../Scripts/JSTree/icons/folder-check-icon-24.png"/>
    <add key="DM_SectionIcon" value="../../Scripts/JSTree/icons/folder-icon-24.png"/>
    <add key="DM_SectionCheckIcon" value="../../Scripts/JSTree/icons/folder-check-icon-24.png"/>
  </appSettings>
  <system.web>
    <sessionState timeout="120"></sessionState>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
      type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>